{% extends 'frontbase.html.twig' %}

{% block title %} Referanslar覺m覺z {{ data[0].title }} {% endblock %}
{% block keywords %}  {{ data[0].keywords }} {% endblock %}
{% block decsription %}  {{ data[0].decsription }} {% endblock %}
{% block body %}

<hr class="soften">
<div class="well well-small">
    <h1>Referanslar覺m覺z</h1>
    <hr class="soften"/>
    <div class="row-fluid">
        <div class="span12 relative">
            {{ data[0].referances|raw }}
        </div>
    <div>
    </div>

{% endblock %}