{% extends 'frontbase.html.twig' %}

{% block title %} SEPET{% endblock %}

{% block sidebar %} {{ include ('home/_usersidebar.html.twig') }} {% endblock %}
{% block body %}
<div class="col-sm-9 padding-right">
    <div class="product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <h2>Yeni Sipariş </h2>

                {{ include('orders/_form.html.twig') }}

                <a href="{{ path('orders_index') }}">back to list</a>

            </div> </div></div></div>

{% endblock %}
